<?xml version="1.0"?>
<robot name="a2_vx300s">

  <!-- [CAUTION] uncomment when convert to mujoco -->
  <!-- <mujoco>
    <compiler meshdir="meshes" discardvisual="false" />
  </mujoco>
  <link name="world"></link>
  <joint name="floating_base_joint" type="floating">
    <parent link="world" />
    <child link="base_link" />
  </joint> -->

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="6.982591E-03 -0.712858E-03 12.889523E-03"
        rpy="0 0 0" />
      <mass
        value="19.651" />
      <inertia
        ixx="141775328.248061E-09"
        ixy="400505.020171E-09"
        ixz="-6996487.718114E-09"
        iyy="407724601.564754E-09"
        iyz="-361858.857563E-09"
        izz="472247985.516800E-09" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0.007" rpy="0 0 0" />
      <geometry>
        <box size="0.24 0.28 0.17" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.25 0 0.119" rpy="0.0 0 0.0" />
      <geometry>
        <box size="0.08 0.05 0.02" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.22 0 0.119" rpy="-0.0 -0.03 0.0" />
      <geometry>
        <box size="0.05 0.03 0.016" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="0.365 0 0.1" rpy="0 -0.7 0" />
      <geometry>
        <box size="0.06 0.1 0.01" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.31 0 0.112" rpy="0 0.7 0" />
      <geometry>
        <box size="0.045 0.1 0.01" />
      </geometry>
    </collision>

  </link>


  <link
    name="FL_hip">
    <inertial>
      <origin
        xyz="-2.408E-03 -16.220E-03 0.239E-03"
        rpy="0 0 0" />
      <mass
        value="1.620" />
      <inertia
        ixx="1476.261E-06"
        ixy="53.160E-06"
        ixz="-7.425E-06"
        iyy="1633.309E-06"
        iyz="-21.032E-06"
        izz="1630.804E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_front_Link1.STL" />
      </geometry>
      <material
        name="">
        <color rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>

  </link>
  <joint
    name="FL_hip_joint"
    type="revolute">
    <origin
      xyz="0.25944 0.075113 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.01"
      upper="1.01"
      effort="120.0"
      velocity="22.0" />
  </joint>
  <link
    name="FL_thigh">
    <inertial>
      <origin
        xyz="-3.268E-03 -31.110E-03 -53.896E-03"
        rpy="0 0 0" />
      <mass
        value="3.079" />
      <inertia
        ixx="29271.794E-06"
        ixy="337.285E-06"
        ixz="-1251.409E-06"
        iyy="26828.777E-06"
        iyz="5283.783E-06"
        izz="5121.720E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_front_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 -0.04 0" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.048" length="0.12" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.025 0.00 -0.09" rpy="0 0.01 0" />
      <geometry>
        <box size="0.055 0.036 0.17" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.022 0.00 -0.27" rpy="0 -0.75 0" />
      <geometry>
        <box size="0.017 0.05 0.05" />
      </geometry>
    </collision>

  </link>
  <joint
    name="FL_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.12779 0"
      rpy="0 0 0" />
    <parent
      link="FL_hip" />
    <child
      link="FL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.34"
      upper="3.15"
      effort="120.0"
      velocity="22.0" />
  </joint>
  <link
    name="FL_calf">
    <inertial>
      <origin
        xyz="12.515E-03 -0.024E-03 -117.649E-03"
        rpy="0 0 0" />
      <mass
        value="0.361" />
      <inertia
        ixx="3869.035E-06"
        ixy="-0.093E-06"
        ixz="298.636E-06"
        iyy="3945.295E-06"
        iyz="0.826E-06"
        izz="150.991E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_front_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.018 -0.00 -0.08" rpy="0 -0.24 0" />
      <geometry>
        <box size="0.024 0.03 0.1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.033 -0.00 -0.17" rpy="0 -0.03 0" />
      <geometry>
        <box size="0.022 0.03 0.08" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.029 -0.00 -0.236" rpy="0 0.2 0" />
      <geometry>
        <box size="0.02 0.036 0.06" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 -0.00 -0.23" rpy="0 0.68 0" />
      <geometry>
        <box size="0.01 0.036 0.06" />
      </geometry>
    </collision>

  </link>
  <joint
    name="FL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.275"
      rpy="0 0 0" />
    <parent
      link="FL_thigh" />
    <child
      link="FL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.77"
      upper="-0.54"
      effort="180.0"
      velocity="14.6667" />
  </joint>
  <link
    name="FL_foot">
    <inertial>
      <origin
        xyz="-7.846E-03 0.012E-03 -9.403E-03"
        rpy="0 0 0" />
      <mass
        value="0.046" />
      <inertia
        ixx="13.994E-06"
        ixy="-0.003E-06"
        ixz="3.992E-06"
        iyy="14.434E-06"
        iyz="-0.004E-06"
        izz="15.404E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_front_Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.0 -0.00 -0.0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.032" />
      </geometry>
    </collision>

  </link>
  <joint
    name="FL_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.275"
      rpy="0 0 0" />
    <parent
      link="FL_calf" />
    <child
      link="FL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>


  <link
    name="RL_hip">
    <inertial>
      <origin
        xyz="3.270E-03 -16.220E-03 -0.097E-03"
        rpy="0 0 0" />
      <mass
        value="1.620" />
      <inertia
        ixx="1468.092E-06"
        ixy="-105.396E-06"
        ixz="-7.294E-06"
        iyy="1625.457E-06"
        iyz="-0.444E-06"
        izz="1631.122E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hind_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>

  </link>
  <joint
    name="RL_hip_joint"
    type="revolute">
    <origin
      xyz="-0.25944 0.075113 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RL_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.01"
      upper="1.01"
      effort="120.0"
      velocity="22.0" />
  </joint>
  <link
    name="RL_thigh">
    <inertial>
      <origin
        xyz="-3.268E-03 -31.110E-03 -53.896E-03"
        rpy="0 0 0" />
      <mass
        value="3.079" />
      <inertia
        ixx="29271.794E-06"
        ixy="337.285E-06"
        ixz="-1251.409E-06"
        iyy="26828.777E-06"
        iyz="5283.783E-06"
        izz="5121.720E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hind_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.0 -0.04 0" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.048" length="0.12" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.025 0.00 -0.09" rpy="0 0.01 0" />
      <geometry>
        <box size="0.055 0.036 0.17" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.022 0.00 -0.27" rpy="0 -0.75 0" />
      <geometry>
        <box size="0.017 0.05 0.05" />
      </geometry>
    </collision>

  </link>
  <joint
    name="RL_thigh_joint"
    type="revolute">
    <origin
      xyz="0 0.12779 0"
      rpy="0 0 0" />
    <parent
      link="RL_hip" />
    <child
      link="RL_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.56"
      upper="3.94"
      effort="120.0"
      velocity="22.0" />
  </joint>
  <link
    name="RL_calf">
    <inertial>
      <origin
        xyz="12.515E-03 -0.024E-03 -117.649E-03"
        rpy="0 0 0" />
      <mass
        value="0.361" />
      <inertia
        ixx="3869.035E-06"
        ixy="-0.093E-06"
        ixz="298.636E-06"
        iyy="3945.295E-06"
        iyz="0.826E-06"
        izz="150.991E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hind_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.018 -0.00 -0.08" rpy="0 -0.24 0" />
      <geometry>
        <box size="0.024 0.03 0.1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.033 -0.00 -0.17" rpy="0 -0.03 0" />
      <geometry>
        <box size="0.022 0.03 0.08" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.029 -0.00 -0.236" rpy="0 0.2 0" />
      <geometry>
        <box size="0.02 0.036 0.06" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 -0.00 -0.23" rpy="0 0.68 0" />
      <geometry>
        <box size="0.01 0.036 0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.275"
      rpy="0 0 0" />
    <parent
      link="RL_thigh" />
    <child
      link="RL_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.77"
      upper="-0.54"
      effort="180.0"
      velocity="14.6667" />
  </joint>
  <link
    name="RL_foot">
    <inertial>
      <origin
        xyz="-7.846E-03 0.012E-03 -9.403E-03"
        rpy="0 0 0" />
      <mass
        value="0.046" />
      <inertia
        ixx="13.994E-06"
        ixy="-0.003E-06"
        ixz="3.992E-06"
        iyy="14.434E-06"
        iyz="-0.004E-06"
        izz="15.404E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/left_hind_Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 -0.00 -0.0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.032" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RL_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.275"
      rpy="0 0 0" />
    <parent
      link="RL_calf" />
    <child
      link="RL_foot" />
    <axis
      xyz="0 0 0" />
  </joint>


  <link
    name="FR_hip">
    <inertial>
      <origin
        xyz="-2.465E-03 16.220E-03 0.318E-03"
        rpy="0 0 0" />
      <mass
        value="1.620" />
      <inertia
        ixx="1483.677E-06"
        ixy="-56.616E-06"
        ixz="-5.890E-06"
        iyy="1632.784E-06"
        iyz="25.536E-06"
        izz="1622.864E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_front_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>

  </link>
  <joint
    name="FR_hip_joint"
    type="revolute">
    <origin
      xyz="0.25944 -0.075113 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="FR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.01"
      upper="1.01"
      effort="120.0"
      velocity="22.0" />
  </joint>
  <link
    name="FR_thigh">
    <inertial>
      <origin
        xyz="-3.256E-03 31.125E-03 -53.921E-03"
        rpy="0 0 0" />
      <mass
        value="3.077" />
      <inertia
        ixx="29255.209E-06"
        ixy="-334.771E-06"
        ixz="-1255.239E-06"
        iyy="26819.094E-06"
        iyz="-5288.175E-06"
        izz="5125.147E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_front_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0.0 0.04 0" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.048" length="0.12" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.025 0.00 -0.09" rpy="0 0.01 0" />
      <geometry>
        <box size="0.055 0.036 0.17" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.022 0.00 -0.27" rpy="0 -0.75 0" />
      <geometry>
        <box size="0.017 0.05 0.05" />
      </geometry>
    </collision>

  </link>
  <joint
    name="FR_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.12779 0"
      rpy="0 0 0" />
    <parent
      link="FR_hip" />
    <child
      link="FR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.34"
      upper="3.15"
      effort="120.0"
      velocity="22.0" />
  </joint>
  <link
    name="FR_calf">
    <inertial>
      <origin
        xyz="12.515E-03 0.016E-03 -117.649E-03"
        rpy="0 0 0" />
      <mass
        value="0.361" />
      <inertia
        ixx="3869.035E-06"
        ixy="0.087E-06"
        ixz="298.636E-06"
        iyy="3945.295E-06"
        iyz="-1.285E-06"
        izz="150.991E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_front_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.018 -0.00 -0.08" rpy="0 -0.24 0" />
      <geometry>
        <box size="0.024 0.03 0.1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.033 -0.00 -0.17" rpy="0 -0.03 0" />
      <geometry>
        <box size="0.022 0.03 0.08" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.029 -0.00 -0.236" rpy="0 0.2 0" />
      <geometry>
        <box size="0.02 0.036 0.06" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 -0.00 -0.23" rpy="0 0.68 0" />
      <geometry>
        <box size="0.01 0.036 0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.275"
      rpy="0 0 0" />
    <parent
      link="FR_thigh" />
    <child
      link="FR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.77"
      upper="-0.54"
      effort="180.0"
      velocity="14.6667" />
  </joint>
  <link
    name="FR_foot">
    <inertial>
      <origin
        xyz="-7.846E-03 0.012E-03 -9.403E-03"
        rpy="0 0 0" />
      <mass
        value="0.046" />
      <inertia
        ixx="13.994E-06"
        ixy="-0.003E-06"
        ixz="3.992E-06"
        iyy="14.434E-06"
        iyz="-0.004E-06"
        izz="15.404E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_front_Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 -0.00 -0.0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.032" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FR_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.275"
      rpy="0 0 0" />
    <parent
      link="FR_calf" />
    <child
      link="FR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>


  <link
    name="RR_hip">
    <inertial>
      <origin
        xyz="3.270E-03 16.220E-03 -0.037E-03"
        rpy="0 0 0" />
      <mass
        value="1.620" />
      <inertia
        ixx="1464.949E-06"
        ixy="105.396E-06"
        ixz="-9.437E-06"
        iyy="1625.469E-06"
        iyz="4.282E-06"
        izz="1634.276E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hind_Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>

  </link>
  <joint
    name="RR_hip_joint"
    type="revolute">
    <origin
      xyz="-0.25944 -0.075113 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RR_hip" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-1.01"
      upper="1.01"
      effort="120.0"
      velocity="22.0" />
  </joint>
  <link
    name="RR_thigh">
    <inertial>
      <origin
        xyz="-3.256E-03 31.125E-03 -53.921E-03"
        rpy="0 0 0" />
      <mass
        value="3.077" />
      <inertia
        ixx="29255.209E-06"
        ixy="-334.771E-06"
        ixz="-1255.239E-06"
        iyy="26819.094E-06"
        iyz="-5288.175E-06"
        izz="5125.147E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hind_Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 0.04 0" rpy="1.571 0 0" />
      <geometry>
        <cylinder radius="0.048" length="0.12" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.025 0.00 -0.09" rpy="0 0.01 0" />
      <geometry>
        <box size="0.055 0.036 0.17" />
      </geometry>
    </collision>

    <collision>
      <origin xyz="-0.022 0.00 -0.27" rpy="0 -0.75 0" />
      <geometry>
        <box size="0.017 0.05 0.05" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_thigh_joint"
    type="revolute">
    <origin
      xyz="0 -0.12779 0"
      rpy="0 0 0" />
    <parent
      link="RR_hip" />
    <child
      link="RR_thigh" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1.56"
      upper="3.94"
      effort="120.0"
      velocity="22.0" />
  </joint>
  <link
    name="RR_calf">
    <inertial>
      <origin
        xyz="12.515E-03 0.016E-03 -117.649E-03"
        rpy="0 0 0" />
      <mass
        value="0.361" />
      <inertia
        ixx="3869.035E-06"
        ixy="0.087E-06"
        ixz="298.636E-06"
        iyy="3945.295E-06"
        iyz="-1.285E-06"
        izz="150.991E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hind_Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.018 -0.00 -0.08" rpy="0 -0.24 0" />
      <geometry>
        <box size="0.024 0.03 0.1" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.033 -0.00 -0.17" rpy="0 -0.03 0" />
      <geometry>
        <box size="0.022 0.03 0.08" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.029 -0.00 -0.236" rpy="0 0.2 0" />
      <geometry>
        <box size="0.02 0.036 0.06" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.008 -0.00 -0.23" rpy="0 0.68 0" />
      <geometry>
        <box size="0.01 0.036 0.06" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_calf_joint"
    type="revolute">
    <origin
      xyz="0 0 -0.275"
      rpy="0 0 0" />
    <parent
      link="RR_thigh" />
    <child
      link="RR_calf" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.77"
      upper="-0.54"
      effort="180.0"
      velocity="14.6667" />
  </joint>
  <link
    name="RR_foot">
    <inertial>
      <origin
        xyz="-7.846E-03 0.012E-03 -9.403E-03"
        rpy="0 0 0" />
      <mass
        value="0.046" />
      <inertia
        ixx="13.994E-06"
        ixy="-0.003E-06"
        ixz="3.992E-06"
        iyy="14.434E-06"
        iyz="-0.004E-06"
        izz="15.404E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/right_hind_Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0.0 -0.00 -0.0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.032" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RR_foot_joint"
    type="fixed" dont_collapse="true">
    <origin
      xyz="0 0 -0.275"
      rpy="0 0 0" />
    <parent
      link="RR_calf" />
    <child
      link="RR_foot" />
    <axis
      xyz="0 0 0" />
  </joint>

  <joint name="arm_mount_joint" type="fixed">
    <parent link="base_link"/>
    <child link="vx300s_base_link"/>
    <origin xyz="0.16 0 0.16" rpy="0 0 0"/>
  </joint>

  <material name="interbotix_black">
    <texture filename="meshes/interbotix_black.png"/>
  </material>

  <material name="orange">
    <color rgba="1 0.27 0.0 1" />
  </material>

  <material name="dark_gray">
    <color rgba="0.1 0.1 0.1 1" />
  </material>

  <material name="white">
    <color rgba="1 1 1 1" />
  </material>

  <material name="black">
    <color rgba="0 0 0 1" />
  </material>

  <link name="vx300s_base_link">
    <visual>
      <origin rpy="0 0 1.5707963267948966" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/vx300s_1_base.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="interbotix_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="-0.13206 0 0.0315"/>
      <geometry>
        <box size="0.115 0.082 0.045"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.0425"/>
      <geometry>
        <cylinder radius="0.069" length="0.067"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 1.5707963267948966" xyz="-0.0534774000 -0.0005625750 0.0205961000"/>
      <mass value="0.969034"/>
      <inertia ixx="0.0060240000" iyy="0.0017000000" izz="0.0071620000" ixy="0.0000471300" ixz="0.0000038510" iyz="-0.0000841500"/>
    </inertial>
  </link>
  <joint name="waist" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort="10" lower="-3.141582653589793" upper="3.141582653589793" velocity="3.141592653589793"/>
    <origin rpy="0 0 0" xyz="0 0 0.079"/>
    <parent link="vx300s_base_link"/>
    <child link="vx300s_shoulder_link"/>
    <dynamics friction="0.1"/>
  </joint>
  <link name="vx300s_shoulder_link">
    <visual>
      <origin rpy="0 0 1.5707963267948966" xyz="0 0 -0.003"/>
      <geometry>
        <mesh filename="meshes/vx300s_2_shoulder.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="interbotix_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0007 0 0.03225"/>
      <geometry>
        <box size="0.0335 0.102 0.0585"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 1.5707963267948966" xyz="0.0002592330 -0.0000033552 0.0116129000"/>
      <mass value="0.798614"/>
      <inertia ixx="0.0009388000" iyy="0.0011380000" izz="0.0012010000" ixy="-0.0000000010" ixz="-0.0000000191" iyz="0.0000059568"/>
    </inertial>
  </link>
  <joint name="shoulder" type="revolute">
    <axis xyz="0 1 0"/>
    <limit effort="20" lower="-1.8500490071139892" upper="1.2566370614359172" velocity="3.141592653589793"/>
    <origin rpy="0 0 0" xyz="0 0 0.04805"/>
    <parent link="vx300s_shoulder_link"/>
    <child link="vx300s_upper_arm_link"/>
    <dynamics friction="0.1"/>
  </joint>
  <link name="vx300s_upper_arm_link">
    <visual>
      <origin rpy="0 0 1.5707963267948966" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/vx300s_3_upper_arm.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="interbotix_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.175"/>
      <geometry>
        <box size="0.020 0.040 0.295"/>
      </geometry>
    </collision>
    <collision>
      <origin rpy="0 0 0" xyz="0.041875 0 0.3"/>
      <geometry>
        <box size="0.06375 0.1012 0.0419"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 1.5707963267948966" xyz="0.0206949000 0.0000000004 0.2264590000"/>
      <mass value="0.792592"/>
      <inertia ixx="0.0089250000" iyy="0.0089370000" izz="0.0009357000" ixy="0.0000000000" ixz="0.0000000000" iyz="0.0012010000"/>
    </inertial>
  </link>
  <joint name="elbow" type="revolute">
    <axis xyz="0 1 0"/>
    <limit effort="15" lower="-1.7627825445142729" upper="1.6057029118347832" velocity="3.141592653589793"/>
    <origin rpy="0 0 0" xyz="0.05955 0 0.3"/>
    <parent link="vx300s_upper_arm_link"/>
    <child link="vx300s_upper_forearm_link"/>
    <dynamics friction="0.1"/>
  </joint>
  <link name="vx300s_upper_forearm_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/vx300s_4_upper_forearm.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="interbotix_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.109755 0 0"/>
      <geometry>
        <box size="0.166791 0.0452 0.0315"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 0" xyz="0.105723 0 0"/>
      <mass value="0.322228"/>
      <inertia ixx="0.0001524000" iyy="0.0013420000" izz="0.0014410000" ixy="-0.0000188300" ixz="-0.0000084064" iyz="0.0000012564"/>
    </inertial>
  </link>
  <joint name="forearm_roll" type="revolute">
    <axis xyz="1 0 0"/>
    <limit effort="2" lower="-3.141582653589793" upper="3.141582653589793" velocity="3.141592653589793"/>
    <origin rpy="0 0 0" xyz="0.2 0 0"/>
    <parent link="vx300s_upper_forearm_link"/>
    <child link="vx300s_lower_forearm_link"/>
    <dynamics friction="0.1"/>
  </joint>
  <link name="vx300s_lower_forearm_link">
    <visual>
      <origin rpy="3.141592653589793 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/vx300s_5_lower_forearm.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="interbotix_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0587 0 0"/>
      <geometry>
        <box size="0.118 0.1 0.0395"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="3.141592653589793 0 0" xyz="0.0513477000 0.0068046200 0"/>
      <mass value="0.414823"/>
      <inertia ixx="0.0001753000" iyy="0.0005269000" izz="0.0005911000" ixy="-0.0000852800" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <joint name="wrist_angle" type="revolute">
    <axis xyz="0 1 0"/>
    <limit effort="5" lower="-1.8675022996339325" upper="2.234021442552742" velocity="3.141592653589793"/>
    <origin rpy="0 0 0" xyz="0.1 0 0"/>
    <parent link="vx300s_lower_forearm_link"/>
    <child link="vx300s_wrist_link"/>
    <dynamics friction="0.1"/>
  </joint>
  <link name="vx300s_wrist_link">
    <visual>
      <origin rpy="0 0 1.5707963267948966" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/vx300s_6_wrist.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="interbotix_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.051 0 0.012"/>
      <geometry>
        <box size="0.034 0.055 0.0465"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 1.5707963267948966" xyz="0.0467430000 -0.0000076652 0.0105650000"/>
      <mass value="0.115395"/>
      <inertia ixx="0.0000463100" iyy="0.0000451400" izz="0.0000527000" ixy="0.0000000195" ixz="0.0000000023" iyz="0.0000042002"/>
    </inertial>
  </link>
  <joint name="wrist_rotate" type="revolute">
    <axis xyz="1 0 0"/>
    <limit effort="1" lower="-3.141582653589793" upper="3.141582653589793" velocity="3.141592653589793"/>
    <origin rpy="0 0 0" xyz="0.069744 0 0"/>
    <parent link="vx300s_wrist_link"/>
    <child link="vx300s_gripper_link"/>
    <dynamics friction="0.1"/>
  </joint>
  <link name="vx300s_gripper_link">
    <visual>
      <origin rpy="0 0 1.5707963267948966" xyz="-0.02 0 0"/>
      <geometry>
        <mesh filename="meshes/vx300s_7_gripper.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="interbotix_black"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.05435 0 0"/>
      <geometry>
        <box size="0.0447 0.150 0.046"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 0 1.5707963267948966" xyz="0.0230010000 0.0000000000 0.0115230000"/>
      <mass value="0.097666"/>
      <inertia ixx="0.0000326800" iyy="0.0000243600" izz="0.0000211900" ixy="0.0000000000" ixz="0.0000000000" iyz="0.0000002785"/>
    </inertial>
  </link>
  <joint name="ee_arm" type="fixed">
    <axis xyz="1 0 0"/>
    <origin rpy="0 0 0" xyz="0.042825 0 0"/>
    <parent link="vx300s_gripper_link"/>
    <child link="vx300s_ee_arm_link"/>
  </joint>
  <link name="vx300s_ee_arm_link">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.000000001" iyy="0.000000001" izz="0.000000001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  <joint name="gripper_bar" type="fixed">
    <axis xyz="1 0 0"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="vx300s_ee_arm_link"/>
    <child link="vx300s_gripper_bar_link"/>
  </joint>
  <link name="vx300s_gripper_bar_link">
    <!-- <visual>
      <origin rpy="0 0 1.5707963267948966" xyz="-0.063 0 0"/>
      <geometry>
        <mesh filename="meshes/vx300s_9_gripper_bar.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="interbotix_black"/>
    </visual> -->
    <!-- <collision>
      <origin rpy="0 0 0" xyz="-0.063 0 0"/>
      <geometry>
        <box size="0.13 0.02 0.015"/>
      </geometry>
    </collision> -->
    <inertial>
      <origin rpy="0 0 1.5707963267948966" xyz="0.0067940000 -0.0000004272 -0.0007760000"/>
      <mass value="0.150986"/>
      <inertia ixx="0.0000789500" iyy="0.0003283000" izz="0.0003095000" ixy="-0.0000000012" ixz="0.0000001341" iyz="0.0000017465"/>
    </inertial>
  </link>
  <joint name="ee_bar" type="fixed">
    <axis xyz="1 0 0"/>
    <origin rpy="0 0 0" xyz="0.025875 0 0"/>
    <parent link="vx300s_gripper_bar_link"/>
    <child link="vx300s_fingers_link"/>
  </joint>
  <link name="vx300s_fingers_link">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.000000001" iyy="0.000000001" izz="0.000000001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <link name="vx300s_left_carriage">
    <visual>
      <geometry>
        <mesh filename="meshes/umi_left_finger_holder.stl" scale="1 1 1"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="0.0265 0.020 0" rpy="0 0 0" />
      <mass value="0.020" />
      <inertia ixx="0.000005781667" iyy="0.000012808333" izz="0.000013776667" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>

  <link name="vx300s_left_finger_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/umi_left_finger.stl" scale="1 1 1"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/umi_left_finger_collision.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.080 0.020 0" rpy="0 0 0" />
      <mass value="0.043" />
      <inertia ixx="0.000008118543" iyy="0.000057482543" izz="0.000060830667" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>

  <link name="vx300s_right_carriage">
    <visual>
      <geometry>
        <mesh filename="meshes/umi_right_finger_holder.stl" scale="1 1 1"/>
      </geometry>
      <material name="white"/>
    </visual>
    <inertial>
      <origin xyz="0.0265 -0.020 0" rpy="0 0 0" />
      <mass value="0.020" />
      <inertia ixx="0.000005781667" iyy="0.000012808333" izz="0.000013776667" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>

  <link name="vx300s_right_finger_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/umi_right_finger.stl" scale="1 1 1"/>
      </geometry>
      <material name="orange"/>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/umi_right_finger_collision.stl" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.080 -0.020 0" rpy="0 0 0" />
      <mass value="0.043" />
      <inertia ixx="0.000008118543" iyy="0.000057482543" izz="0.000060830667" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>

  <link name="eef_link">
    <inertial>
      <mass value="0.001"/>
      <inertia ixx="0.000000001" iyy="0.000000001" izz="0.000000001" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <link name="gopro">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/gopro.stl" scale="1 1 1"/>
      </geometry>
      <material name="dark_gray"/>
    </visual>
      <inertial>
      <origin xyz="-0.01375 -0.0199 -0.00915" rpy="0 0 0" />
      <mass value="0.127"/>
      <inertia ixx="0.00008187139667" iyy="0.00003925993333" izz="0.00006650778333" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>

  <link name="umi_base_top">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/umi_base_top.stl" scale="1 1 1"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="-0.03225 0 0.021" rpy="0 0 0" />
      <mass value="0.050" />
      <inertia
        ixx="0.000123362667"
        iyy="0.000024800167"
        izz="0.000147970833"
        ixy="0"
        ixz="0"
        iyz="0"/>
    </inertial>
  </link>

  <link name="left_mirror">
    <visual>
      <origin xyz="-0.021 0.0695 0.058" rpy="1.5707963 0 0.392699" />
      <geometry>
        <box size="0.06 0.0374 0.0002" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="-0.021 0.0695 0.058" rpy="1.5707963 0.392699 0" />
      <mass value="0.005"/>
      <inertia ixx="0.000000582833" iyy="0.000001500017" izz="0.000002082817" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>

  <link name="right_mirror">
    <visual>
      <origin xyz="-0.021 -0.0695 0.058" rpy="1.5707963 0 -0.392699" />
      <geometry>
        <box size="0.06 0.0374 0.0002" />
      </geometry>
    </visual>
    <inertial>
      <origin xyz="-0.021 -0.0695 0.058" rpy="1.5707963 -0.392699 0" />
      <mass value="0.005"/>
      <inertia ixx="0.000000582833" iyy="0.000001500017" izz="0.000002082817" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
  
  <link name="umi_base_bottom">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="meshes/umi_base_bottom.stl" scale="1 1 1"/>
      </geometry>
    </visual>
    <inertial>
      <origin xyz="-0.040 0 0.00785" rpy="0 0 0" />
      <mass value="0.055" />
      <inertia
        ixx="0.000138763579"
        iyy="0.000041459229"
        izz="0.000173882317"
        ixy="0"
        ixz="0"
        iyz="0"/>
    </inertial>
  </link>

  <link name="left_tape">
    <visual>
      <origin xyz="0.079 0 -0.001" rpy="1.5707963 0 0" />
      <geometry>
        <box size="0.12 0.0258 0.00002" />
      </geometry>
      <material name="black" />
    </visual>
    <inertial>
      <origin xyz="0.079 0 -0.001" rpy="1.5707963 0 0" />
      <mass value="0.005"/>
      <inertia 
        ixx="0.000000277350"
        iyy="0.000006000000"
        izz="0.000006277350"
        ixy="0" 
        ixz="0" 
        iyz="0"
        />
    </inertial>
  </link>

  <link name="right_tape">
    <visual>
      <origin xyz="0.079 0 -0.001" rpy="1.5707963 0 0" />
      <geometry>
        <box size="0.12 0.0258 0.00002" />
      </geometry>
      <material name="black" />
    </visual>
    <inertial>
      <origin xyz="0.079 0 -0.001" rpy="1.5707963 0 0" />
      <mass value="0.005"/>
      <inertia 
        ixx="0.000000277350"
        iyy="0.000006000000"
        izz="0.000006277350"
        ixy="0" 
        ixz="0" 
        iyz="0"
        />
    </inertial>
  </link>

  <!-- Joints -->
  <joint name="left_finger_joint" type="prismatic">
    <axis xyz="0 1 0"/>
    <limit effort="10" lower="0" upper="0.0425" velocity="0.1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="vx300s_fingers_link"/>
    <child link="vx300s_left_carriage"/>
    <dynamics damping="10.1" friction="0.1"/>
  </joint>

  <joint name="right_finger_joint" type="prismatic">
    <axis xyz="0 -1 0"/>
    <limit effort="10" lower="0" upper="0.0425" velocity="0.1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="vx300s_fingers_link"/>
    <child link="vx300s_right_carriage"/>
    <dynamics damping="10.1" friction="0.1"/>
    <mimic joint="left_finger_joint" multiplier="1" offset="0"/>
  </joint>


  <joint name="left_finger_passive_joint" type="prismatic" dont_collapse="true">
    <axis xyz="0 1 0"/>
    <limit effort="10" lower="0" upper="0.01" velocity="0.1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="vx300s_left_carriage"/>
    <child link="vx300s_left_finger_link"/>
    <dynamics damping="10.1" friction="0.1"/>
  </joint>

  <joint name="right_finger_passive_joint" type="prismatic" dont_collapse="true">
    <axis xyz="0 -1 0"/>
    <limit effort="10" lower="0" upper="0.01" velocity="0.1"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="vx300s_right_carriage"/>
    <child link="vx300s_right_finger_link"/>
    <dynamics damping="10.1" friction="0.1"/>
    <mimic joint="left_finger_passive_joint" multiplier="1" offset="0"/>
  </joint>
  

  <joint name="fix_eef_link" type="fixed" dont_collapse="true">
    <axis xyz="1 0 0"/>
    <origin rpy="0 0 0" xyz="0.14 0 0"/>
    <parent link="vx300s_fingers_link"/>
    <child link="eef_link"/>
  </joint>

  <joint name="joint_gopro" type="fixed" dont_collapse="true">
    <axis xyz="0 1 0"/>
    <origin xyz="-0.0552 0.0 0.087" rpy="0 0 0" />
    <parent link="vx300s_fingers_link"/>
    <child link="gopro"/>
  </joint>

  <joint name="umi_base_top_joint" type="fixed" dont_collapse="true">
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    <parent link="vx300s_fingers_link"/>
    <child link="umi_base_top"/>
  </joint>

  <joint name="fix_linear_rail_and_left_mirror" type="fixed" dont_collapse="true">
    <parent link="umi_base_top" />
    <child link="left_mirror" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="fix_linear_rail_and_right_mirror" type="fixed" dont_collapse="true">
    <parent link="umi_base_top" />
    <child link="right_mirror" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="umi_base_bottom_joint" type="fixed" dont_collapse="true">
    <axis xyz="0 1 0"/>
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
    <parent link="vx300s_fingers_link"/>
    <child link="umi_base_bottom"/>
  </joint>
    
  <joint name="fix_left_tape_and_left_finger" type="fixed" dont_collapse="true">
    <parent link="vx300s_left_finger_link" />
    <child link="left_tape" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <joint name="fix_right_tape_and_right_finger" type="fixed" dont_collapse="true">
    <parent link="vx300s_right_finger_link" />
    <child link="right_tape" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
